.login-button {
    margin-right: 15px;
    border: none;
    padding: 10px 20px;
    background: linear-gradient(to top left,#8743ff,#4136f1);
    font-weight: 600;

    &.logout-button {
        background: linear-gradient(to top right, #ED213A, #93291E);
    }
}

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    z-index: 1000;

    .login-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 30px;
        background: linear-gradient(to top right, #232526, #414345);
        border-radius: 10px;

        .login-top {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 30px;

            h2{
                color: aliceblue;
            }

            .close {
                background: linear-gradient(to top right, #ED213A, #93291E);
                align-self: flex-end;
                color: white;
            }
        }

        .interactive {
            padding: 14px 25px;
            border: none;
            color: white;
            border-radius: 10px;
            font-size: 15px;

            &::placeholder {
                color: black;
            }
            
            &.login-input {
                width: 30vw;
                background-color: aliceblue;
                color: black;
                margin-bottom: 15px;
            }
        }

        .login-submit {
            background: linear-gradient(to top left,#8743ff,#4136f1);
            font-weight: 600;
        }

        .error {
            color: #ed213a;
            font-weight: 600;
            font-size: 14px;
            margin-bottom: 15px;
        }
    }
}

@media screen and (max-width: 700px) {
    .login .login-form .interactive.login-input {
        width: 70vw;
    }
}