.subject {
    box-sizing: border-box;
    color: #fff;
    margin-top: 20px;
    position: absolute;
    top: -120px;
    transition: top .3s ease-in;
    width: 100%;
    z-index: $zindex3;

    &.visible {
        top: 0px;
    }
}

.subject-info-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: calc(100% - 280px);
    margin: 0 auto;

    &--full-width {
        max-width: 100%;
    }

    @media (max-width: 500px) {
        flex-wrap: wrap;
        max-width: 100%;
    }
}

.subject-info {
    align-items: center;
    display: flex;
    max-width: 80%;
    height: 28px;
}

.subject-text {
    background: rgba(0, 0, 0, 0.6);
    border-radius: 8px 0px 0px 8px;
    font-size: 14px;
    line-height: 24px;
    padding: 7px 16px;
    height: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.subject-timer {
    background: rgba(0, 0, 0, 0.8);
    border-radius: 0px 8px 8px 0px;
    display: inline-block;
    font-size: 14px;
    line-height: 16px;
    min-width: 34px;
    padding: 11px 18px;
}
