$gradient: linear-gradient(to top left, #8743ff, #4136f1);

body.welcome-page {
    background: inherit;
    overflow: auto;
}

.welcome {
    background-image: url("../images/background.png");
    background-position: $welcomePageHeaderBackgroundPosition;
    background-repeat: $welcomePageHeaderBackgroundRepeat;
    background-size: $welcomePageHeaderBackgroundSize;
    display: flex;
    flex-direction: column;
    font-family: $welcomePageFontFamily;
    justify-content: space-between;
    min-height: 100vh;
    position: relative;

    .header {
        padding-bottom: $welcomePageHeaderPaddingBottom;
        overflow: hidden;
        position: relative;
        padding-bottom: 85px;

        .header-container {
            display: $welcomePageHeaderContainerDisplay;
            flex-direction: column;
            margin: $welcomePageHeaderContainerMargin;
            z-index: $zindex2;
        }

        .header-text-title {
            color: $welcomePageTitleColor;
            font-size: 33px;
            font-weight: 600;
            line-height: 33px;
            margin-bottom: $welcomePageHeaderTextTitleMarginBottom;
            max-width: $welcomePageHeaderTitleMaxWidth;
            opacity: $welcomePageHeaderTextTitleOpacity;
            text-align: $welcomePageHeaderTextAlign;
        }

        .header-text-subtitle {
            color: #fff;
            font-size: 17px;
            font-weight: 400;
            line-height: 26px;
            margin: 10px 0 32px 0;
            text-align: $welcomePageHeaderTextAlign;
        }

        .enter_room.join_room {
            margin-top: 50px;

            .enter-room-input-container {
                .enter-room-input {
                    margin: 16px 0;
                    padding-left: 30px;
                }
            }

            .welcome-page-button {
                padding: 15px 20px;
            }
        }

        .enter_room {
            display: $welcomePageEnterRoomDisplay;
            align-items: center;
            max-width: 480px;
            width: $welcomePageEnterRoomWidth;
            z-index: $zindex2;
            background-color: #0d0d0d;
            padding: $welcomePageEnterRoomPadding;
            border-radius: 19px;
            margin: $welcomePageEnterRoomMargin;
            margin-top: 90px;

            .enter-room-input-container {
                text-align: left;
                color: white;
                flex-grow: 1;
                height: fit-content;
                padding-right: 4px;
                position: relative;

                .enter-room-input {
                    border: 0;
                    background: #0d0d0d;
                    display: inline-block;
                    height: auto;
                    width: 95%;
                    font-size: 14px;
                    margin: 21px 0;
                    padding: 0;
                    padding-left: 40px;
                    color: white;

                    &:focus {
                        outline: none;
                    }
                }

                .insecure-room-name-warning {
                    align-items: center;
                    color: $defaultWarningColor;
                    display: flex;
                    flex-direction: row;
                    margin-top: 15px;

                    .jitsi-icon {
                        margin-right: 15px;

                        svg {
                            fill: $defaultWarningColor;
                        }
                    }
                }

                ::placeholder {
                    color: white;
                }
            }

            .warning-without-link {
                position: absolute;
                top: 44px;
                left: -10px;
            }

            .warning-with-link {
                position: absolute;
                top: 84px;
            }
        }

        #moderated-meetings {
            max-width: calc(100% - 40px);
            padding: 16px 0 39px 0;
            margin: $welcomePageEnterRoomMargin;
            width: $welcomePageEnterRoomWidth;

            p {
                color: $welcomePageDescriptionColor;
                text-align: $welcomePageHeaderTextAlign;

                a {
                    color: inherit;
                    font-weight: 600;
                }
            }
        }
    }

    .tab-container {
        font-size: 16px;
        position: relative;
        text-align: left;
        display: $welcomePageTabContainerDisplay;
        flex-direction: column;

        .tab-content {
            display: $welcomePageTabContentDisplay;
            height: 250px;
            margin: 5px 0px;
            overflow: hidden;
            flex-grow: 1;
            position: relative;
        }

        .tab-buttons {
            background-color: #c7ddff;
            border-radius: 6px;
            color: #0163ff;
            font-size: 14px;
            line-height: 18px;
            margin: 4px;
            display: $welcomePageTabButtonsDisplay;

            .tab {
                background-color: #c7ddff;
                border-radius: 7px;
                cursor: pointer;
                display: $welcomePageTabDisplay;
                flex-grow: 1;
                margin: 2px;
                padding: 7px 0;
                text-align: center;

                &.selected {
                    background-color: #fff;
                }
            }
        }
    }

    .welcome-page-button {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 0;
        font-size: 17px;
        background: $gradient;
        font-weight: 800;
        border-radius: 17px;
        color: #ffffff;
        cursor: pointer;
        padding: 20px 39px;

        svg {
            margin-right: 9px;
            width: 27px;
            height: 27px;
        }
    }

    .welcome-page-settings {
        border-radius: 3px;
        color: $welcomePageDescriptionColor;
        position: absolute;
        top: 50px;
        right: 40px;
        z-index: $zindex2;

        * {
            cursor: pointer;
            font-size: 32px;
        }
    }

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        width: 100%;
        box-sizing: border-box;
        padding: 30px 40px;

        .connect-logo {
            width: $welcomePageWatermarkWidth;
            height: $welcomePageWatermarkHeight;
        }

        .links {
            display: flex;
            z-index: 2;

            a {
                font-size: 15px;
                margin-right: 30px;
                color: white;
                transition: 300ms;
                font-weight: 600;

                &:last-child {
                    margin-right: 0;
                }

                &:hover {
                    color: #8743ff;
                }
            }
        }

        .toolbox-button {
            height: 30px;
            width: 30px;
            z-index: 3;

            .toolbox-icon {
                height: 30px;
                width: 30px;
            }

            .jitsi-icon {
                width: 30px;
                height: 30px;
            }

            svg {
                width: 30px;
                height: 30px;
                fill: none;
            }
        }
    }

    .welcome-cards-container {
        color: #131519;
        padding-top: 85px;
        padding-bottom: 30px;
    }

    .welcome-card-row {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 7vw;

        .main-title {
            color: white;
            font-weight: 700;
            font-size: 20px;
        }
    }

    .welcome-card-text {
        padding: 32px;
    }

    .footer-info {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        padding: 0 7vw 70px;
        background: linear-gradient(to bottom, #161822, black);

        .container {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;

            img {
                margin-top: 20px;

                &:first-child {
                    margin-top: 50px;
                }
            }
        }

        .left {
            align-items: flex-start;
        }
        .center {
            align-items: center;

            .links {
                display: flex;
                z-index: 2;

                a {
                    font-size: 14px;
                    margin-right: 15px;
                    color: white;

                    &:last-child {
                        margin-right: 0;
                    }
                }
            }

            p {
                color: white;
                font-weight: 700;
                font-size: 15px;
                margin-top: 45px;
            }
        }
        .right {
            align-items: flex-end;

            a {
                color: white;
                text-align: end;
                font-size: 14px;

                .underline {
                    text-decoration: underline;
                    font-weight: 700;
                }
            }
        }
    }

    .welcome-card {
        border-radius: 8px;
        width: 100%;
        background-color: transparent;

        &--shadow {
            box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.15);
        }
    }

    .footer-info-mobile {
        background: linear-gradient(to bottom, #161822, black);
        padding: 35px 15px;
        display: none;

        .logos {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .logo {
                width: 100%;
                display: flex;
                justify-content: space-between;

                img {
                    max-width: 40%;
                }
            }

            .logo-top {
                margin-bottom: 20px;
            }
        }

        .text {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            a {
                text-align: center;
                color: white;
                font-size: 12px;
                margin: 35px 0;
            }

            p {
                font-size: 14px;
                font-weight: 700;
                color: white;
            }

            .underline {
                font-weight: 600;
                text-decoration: underline;
            }
        }
    }

    .welcome-footer {
        background: #131519;
        color: #fff;
        margin-top: 40px;
        position: relative;
    }

    .welcome-footer-centered {
        max-width: 688px;
        margin: 0 auto;
    }

    .welcome-footer-padded {
        padding: 0px 16px;
    }

    .welcome-footer-row-block {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #424447;

        &:last-child {
            border-bottom: none;
        }
    }

    .welcome-footer--row-1 {
        padding: 40px 0 24px 0;
    }

    .welcome-footer-row-1-text {
        max-width: 200px;
        margin-right: 16px;
    }
}
